BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
NamespaceIndentation: All
UseTab: Never
SortIncludes: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
AllowAllParametersOfDeclarationOnNextLine: true
ColumnLimit: 300
AlignConsecutiveAssignments: true
ReflowComments : false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: false